include README.rst
include LICENSE
include VENDOR-LICENSES.md

include tox.ini

recursive-include shuup \
    **templates/**/*.jinja **templates/**/*.txt \
    **static/**/*.js **static/**/*.css **static/**/*.map \
    **static/**/*.ico **static/**/*.png **static/**/*.svg **static/**/*.jpg \
    **static/**/*.woff **static/**/*.woff2 **static/**/*.eot **static/**/*.otf **static/**/*.ttf \
    *.json *.po *.mo

recursive-include shuup/default_importer *.xls *.xlsx *.csv

recursive-include shuup_tests *.jinja

# No extra extensions to include from shuup_workbench, but it will be
# included still, since it's a Python package.
# recursive-include shuup_workbench ...

prune shuup/*/*/*/*/node_modules
prune shuup/*/*/*/node_modules
prune shuup/*/*/node_modules
prune shuup/*/node_modules
prune shuup/**/.cache

recursive-include doc *.rst *.py *.LICENSE Makefile make.bat
